{
    "extends": [
        "prettier",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": ["prettier"],
    "ignorePatterns": ["react-app-env.d.ts"],
    "rules": {
        "@typescript-eslint/array-type": ["error", { "type": "array" }],
        "@typescript-eslint/consistent-type-definitions": "error",
        "@typescript-eslint/interface-name-prefix": ["error", "always"],
        "@typescript-eslint/member-delimiter-style": "error",
        "@typescript-eslint/member-ordering": "error",
        "@typescript-eslint/no-empty-function": "error",
        "@typescript-eslint/no-non-null-assertion": "error",
        "@typescript-eslint/no-use-before-define": "error",
        "@typescript-eslint/no-var-requires": "error",
        "@typescript-eslint/prefer-for-of": "error",
        "@typescript-eslint/prefer-function-type": "error",
        "@typescript-eslint/quotes": ["error", "double", { "avoidEscape": true }],
        "@typescript-eslint/semi": ["error", "always"],
        "@typescript-eslint/unified-signatures": "error",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/unbound-method": "off",
        "@typescript-eslint/require-await": "off",
        "@typescript-eslint/camelcase": "off",
        "require-await": "off",
        "prettier/prettier": "error",
        "arrow-body-style": ["error", "always"],
        "curly": "error",
        "space-before-blocks": "error",
        "camelcase": "off",
        "complexity": "off",
        "constructor-super": "error",
        "dot-notation": "error",
        "eqeqeq": "error",
        "guard-for-in": "error",
        "id-match": "error",
        "max-classes-per-file": "error",
        "no-bitwise": "error",
        "no-caller": "error",
        "no-cond-assign": "error",
        "no-debugger": "error",
        "no-empty": "error",
        "no-eval": "error",
        "no-fallthrough": "error",
        "no-new-wrappers": "error",
        "no-restricted-imports": ["error", "rxjs/Rx"],
        "no-shadow": "error",
        "no-throw-literal": "error",
        "no-undef-init": "error",
        "no-underscore-dangle": "error",
        "no-unsafe-finally": "error",
        "no-unused-expressions": "error",
        "no-unused-labels": "error",
        "one-var": ["error", "never"],
        "radix": "error",
        "spaced-comment": "error",
        "use-isnan": "error"
    }
}
