<% content_for :title do %>Welcome to Texterify<% end %>
<% content_for :preheader do %>Welcome to Texterify<% end %>

<h1>Welcome to Texterify</h1>

<p>Hello <%= @username %>,</p>

<p>thank you for signing up.</p>

<p>In the next 7 days you can experience all the translation tools of Texterify for free. After the end of your trial your plan will automatically switch to the <b>Free</b> plan.</p>

<p>We hope you have a great time with Texterify. If you have any feedback or questions you can always send us an email to <a href="mailto:support@texterify.com">support@texterify.com</a> or create a ticket on the Texterify <a href="https://github.com/texterify/texterify/issues">repository</a>.</p>

<p>Have fun using Texterify and optimizing your localization process.</p>
