$color: #4170ff;

#app-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;

  .ant-layout-header {
    background: #141414;
    border-bottom: 1px solid #303030;
  }

  .popover-no-padding {
    .ant-popover-inner-content {
      padding: 8px 0;

      a {
        &:hover {
          text-decoration: none;
        }
      }

      ul {
        margin: 0;
      }
    }
  }

  .editable-cell {
    position: relative;
  }

  .editable-cell-value-wrap {
    padding: 4px 11px;
    cursor: pointer;
    border: 1px solid transparent;
    min-height: 32px;

    li {
      list-style-position: inside;
    }

    ul {
      li {
        list-style-type: disc;
      }
    }

    ol {
      li {
        list-style-type: decimal;
      }
    }

    // Hide the margin of the last <p> in HTML key translations.
    p:last-child {
      margin-bottom: 0;
    }
  }

  .editable-row:hover .editable-cell-value-wrap {
    border-color: #d9d9d9;
  }

  .ant-table td {
    text-overflow: ellipsis;
  }

  .ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
    border-right-color: $color;
  }

  .ant-menu-item > a:hover {
    color: $color;
  }

  .ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
    color: $color;
  }

  .ant-menu-item-selected {
    color: $color;
  }

  .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: $color;
  }

  .ant-menu-submenu-title > a {
    color: #333;
  }

  .ant-menu-submenu-selected .ant-menu-submenu-title > a {
    color: $color;
  }

  .ant-menu-submenu-selected > a {
    color: $color;
    background: #f00;
  }

  .ant-menu-item > a, .ant-menu-submenu-title > a {
    text-decoration: none;
  }

  .ant-layout-header {
    height: 58px;
    line-height: 0;
  }

  // Remove inner borders from modals.
  .ant-modal-header {
    border-bottom: 0;
  }

  .ant-modal-footer {
    border-top: 0;
  }

  .ant-modal-title {
    font-size: 22px;
    line-height: 40px;
  }

  .ant-table-tbody .ant-form-item-control {
    line-height: 0;
  }

  .ant-btn {
    padding-left: 18px;
    padding-right: 18px;
  }

  .ce-block__content {
    max-width: 100%;
  }

  .ce-toolbar__content {
    max-width: 100%;
  }

  .cdx-list__item {
    list-style: inherit;
  }

  .cdx-list--unordered {
    list-style: disc;
  }

  .cdx-list--ordered {
    list-style: decimal;
  }

  .ant-progress-status-success .ant-progress-bg {
    background-color: #52c41a;
  }

  .ant-tag-checkable-checked {
    background: #000;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border-top: none;
    border-left: none;
    border-radius: 0;
    margin-right: 0;
  }

  .ant-list-item-meta-content {
    max-width: 100%;
  }

  .ant-breadcrumb-link {
    display: flex;
    align-items: center;
  }

  .ant-breadcrumb > span {
    display: flex;
    align-items: center;
  }

  .flag-icon {
    max-width: 100%;
  }

  .ant-typography code {
    margin: 0;
  }

  .ant-card {
    display: flex;
    flex-direction: column;

    .ant-card-body {
      flex-grow: 1;
    }
  }

  .ant-collapse-borderless {
    background: transparent;
  }
}

.keys-table-platform-overrides {
  .ant-table-small {
    border: 0;

    .ant-table-content > .ant-table-body {
      margin: 0;
    }
  }

  th:last-child {
    border-right: 0 !important;
  }
}
