.ce-toolbar__actions {
  right: -28px !important;
}

.codex-editor__redactor {
  margin-right: 0 !important;
  padding-bottom: 0 !important;
}

.ce-toolbar__plus {
  left: 5px !important;
}

.ce-settings {
  border: 0;
}

.cdx-list-settings div:last-child {
  margin-right: 0;
}

.dark-theme {
  .ce-toolbar__settings-btn {
    color: #bdbdbd;
    background: #313131;
  }

  .ce-toolbar__settings-btn:hover {
    color: #fff;
  }

  .codex-editor--narrow .ce-toolbox {
    background: #2a2a2a;
  }

  .ce-settings {
    background: #2a2a2a;
  }

  .ce-settings__button {
    color: #707684;
  }

  .ce-settings__button:hover {
    color: #388ae5;
    background: #313131;
  }

  .ce-settings__button--confirm {
    color: #fff;
  }

  .ce-settings__button:hover.ce-settings__button--confirm {
    color: #fff;
  }

  .ce-block--selected .ce-block__content {
    background: #2a2a2a;
  }

  .cdx-settings-button {
    color: #7d7d7d;
  }

  .cdx-settings-button--active {
    color: #ccc;
    background-color: #313131
  }

  .cdx-settings-button:hover {
    background-color: #313131;
  }

  .ce-inline-toolbar, .ce-conversion-toolbar {
    background: #2a2a2a;
    border-color: #2a2a2a;
  }

  .ce-inline-tool:hover, .ce-inline-toolbar__dropdown:hover {
    background-color: #313131
  }

  .ce-conversion-tool__icon {
    background: transparent;
  }

  .ce-inline-tool-input {
    background-color: #313131;
    border-color: #313131;
  }
}
