.dashboard-main-menu {
  margin-left: 50px;

  li {
    a {
      color: #333;
      text-decoration: none;
      padding: 8px 20px;
      border-radius: 4px;
      color: #fff;

      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }
}

.dashboard-sidebar-menu {
  .nav-text {
    display: inline-block;
  }

  a {
    text-decoration: none;
  }
}
