.dashboard-main-menu {
  margin-left: 50px;

  li {
    a {
      text-decoration: none;
      padding: 8px 20px;
      border-radius: 4px;
      color: #fff;

      &:hover {
        background: rgba(255, 255, 255, 0.15);
        color: #fff;
      }
    }
  }
}
