@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 24px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

footer {
  ul {
    li {
      list-style-type: none;
      margin-bottom: 10px;

      a {
        &:hover {
          color: rgba(0, 0, 0, 0.8);
        }

        color: #888;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.fade-in {
  animation: fade-in .3s;
}

.fade-in-fast {
  animation: fade-in .1s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.no-transition {
  * {
    transition: none !important;
  }
}
