:root {
  --full-color: #000;
  --background-color: #fff;
  --dark-color: #06101f;
  --border-color: #d9d9d9;
  --border-color-flashier: #777;
  --highlight-color: #000;
  --highlight-color-decent: #f0f0f0;
  --primary-light-color: #e3eaff;
  --background-highlight-color: #1c70f51a;

  --color-primary: #557fff;
  --color-primary-light: #0956f6;
  --color-passive: #aaa;
  --color-passive-hover: #333;
  --color-success: #52c41a;
  --color-warn: #e84b00;
  --color-golden: #d5bc00;

  // drawer
  --drawer-background-color: var(--background-color);
  --drawer-header-background-color: var(--header-background-color);

  // activity
  --activity-highlight-key-update-background-color: #ecf1ff;
  --activity-highlight-key-update-color: var(--color-primary);

  // mark
  --mark-background-color: #ffd1b6ad;

  // alert
  --alert-background-color: #f0f6ff;
  --alert-border-color: #bad2ff;
  --alert-warning-background-color: #ffb75b17;
  --alert-warning-border-color: #ffb75b;
  --alert-icon-color: #0d141f;

  // header
  --header-background-color: var(--dark-color);
  --header-menu-item-active-background: #111d39;

  // button
  --primary-btn-color: var(--color-primary);
  --primary-btn-hover-color: var(--color-primary-light);
  --default-btn-hover-color: var(--color-primary-light);

  // input
  --input-border-color: #d9d9d9;
  --input-border-hover-color: var(--color-primary);
  --input-border-focus-color: var(--color-primary-light);
  --input-border-disabled-color: #d9d9d9;
  --error-color: #cc3d3f;
  --error-color-hover: #ff4d4f;

  // popover
  --popover-background-color: #fff;

  // table
  --table-background-color: var(--background-color);
  --table-head-background-color: #fafafa;

  // main sidebar
  --main-sidebar-active-background-color: transparent;
  --main-sidebar-active-color: #000;
  --main-sidebar-hover-color: #000;
  --main-sidebar-color: rgba(0, 0, 0, 0.45);
  --main-sidebar-indicator-color: #000;

  // sub sidebar
  --sidebar-header-color: #1c70f51a;
  --sidebar-indicator-color: var(--dark-color);
  --sidebar-item-active-color: #000;
  --sidebar-item-active-color-hover: #000;
  --sidebar-item-active-background-color: #7070701c;
  --sidebar-item-color: rgba(0, 0, 0, 0.45);
  --sidebar-item-color-hover: #000;
  --sidebar-background-color: #fbfbfc;
  --sidebar-border-color: #e6e6e6;

  // progress bar
  --progressbar-success-background-color: var(--color-success);

  // breadcrumbs
  --breadcrumbs-color: rgba(0, 0, 0, 0.45);
  --breadcrumbs-last-color: rgba(0, 0, 0, 0.65);

  // links

  // select
  --select-single-color: rgba(0, 0, 0, 0.85);
  --select-active-background-color: rgba(0, 0, 0, 0.1);
  --select-selected-background-color: rgba(0, 0, 0, 0.1);
  --select-selected-color: #000;

  // other stuff
  --column-tag-color: #7c0596;
  --avatar-color: #111d39;
  --custom-tag-color: #c41d7f;

  // editor
  --toolbar-action-active-background-color: #0000001a;

  // pagination
  --pagination-color: rgba(0, 0, 0, 0.85);

  // tooltip
  --tooltip-background-color: var(--dark-color);
}

.dark-theme {
  --full-color: #fff;
  --background-color: var(--dark-color);
  --border-color: rgb(27, 31, 33);
  --border-color-flashier: #4e4e4e;
  --highlight-color: rgba(255, 255, 255, 0.85);
  --highlight-color-decent: #ffffff0f;
  --primary-light-color: #111d3a;
  --background-highlight-color: #177ddc1a;

  --color-primary: #3368ff;
  --color-primary-light: #255ffd;
  --color-passive: #555;
  --color-passive-hover: #999;
  --color-warn: #e84b00;
  --color-golden: #fff900;

  // drawer
  --drawer-background-color: var(--background-color);
  --drawer-header-background-color: var(--header-background-color);

  // activity
  --activity-highlight-key-update-background-color: #ecf1ff1f;
  --activity-highlight-key-update-color: #ecf1ff;

  // mark
  --mark-background-color: #ff60238c;

  // alert
  --alert-background-color: #3368ff14;
  --alert-border-color: var(--color-primary);
  --alert-warning-background-color: #ffb75b17;
  --alert-warning-border-color: #ffb75b;
  --alert-icon-color: #fff;

  // header
  // same as for light mode

  // button
  --primary-btn-color: var(--color-primary);
  --primary-btn-hover-color: var(--color-primary-light);
  --default-btn-hover-color: var(--color-primary-light);

  // input
  --input-border-color: #434343;
  --input-border-hover-color: var(--color-primary);
  --input-border-focus-color: var(--color-primary);
  --input-border-disabled-color: #434343;

  // popover
  --popover-background-color: var(--background-color);

  // table
  --table-background-color: var(--background-color);
  --table-head-background-color: #ffffff0d;

  // main sidebar
  --main-sidebar-active-background-color: transparent;
  --main-sidebar-active-color: #fff;
  --main-sidebar-hover-color: #fff;
  --main-sidebar-color: #8b8b8b;
  --main-sidebar-indicator-color: #fff;

  // sub sidebar
  --sidebar-header-color: #fff;
  --sidebar-indicator-color: #fff;
  --sidebar-item-active-color: #fff;
  --sidebar-item-active-color-hover: #fff;
  --sidebar-item-active-background-color: #ffffff14;
  --sidebar-item-color: #737373;
  --sidebar-item-color-hover: #fff;
  --sidebar-background-color: var(--background-color);
  --sidebar-border-color: var(--border-color);

  // progress bar
  --progressbar-success-background-color: #3ffe75;

  // breadcrumbs
  --breadcrumbs-color: rgba(255, 255, 255, 0.35);
  --breadcrumbs-last-color: rgba(255, 255, 255, 0.65);

  // links
  --a-link: #0893f5;
  --a-link-hover: #0893f5;

  // select
  --select-single-color: rgba(255, 255, 255, 0.85);
  --select-active-background-color: rgba(255, 255, 255, 0.1);
  --select-selected-background-color: rgba(255, 255, 255, 0.1);
  --select-selected-color: #fff;

  // other stuff
  --custom-tag-color: #e0529c;

  // editor
  --toolbar-action-active-background-color: #ffffff1a;

  // pagination
  --pagination-color: rgba(255, 255, 255, 0.85);

  // tooltip
  --tooltip-background-color: var(--dark-color);
}
