:root {
  --full-color: #000;
  --background-color: #fff;;
  --popover-background-color: #fff;
  --dark-color: #0c0e15;
  --border-color: #d9d9d9;
  --border-color-flashier: #777;
  --blue-color: #568aea;
  --highlight-color: #000;
  --header-background-color: var(--dark-color);
  --primary-light-color: #e3eaff;
  --primary-btn-color: #1c70f5;
  --primary-btn-hover-color: #327ef6;
  --color-passive: #aaa;
  --color-passive-hover: #333;
  --input-border-color: #d9d9d9;
  --input-border-hover-color: #6993ff;
  --input-border-focus-color: #568aea;
  --input-border-disabled-color: #d9d9d9;
  --error-color: #cc3d3f;
  --error-color-hover: #ff4d4f;
  --color-success: #52c41a;
}

.dark-theme {
  --full-color: #fff;
  --background-color: var(--dark-color);
  --popover-background-color: #0e1215;
  --border-color: rgb(27, 31, 33);
  --border-color-flashier: #4e4e4e;
  --blue-color: #61b6ff;
  --blue-color-light: #61b6ffbf;
  --highlight-color: rgba(255, 255, 255, 0.85);
  --primary-light-color: #111d3a;
  --primary-btn-color: #177ddc;
  --primary-btn-hover-color: #288eec;
  --color-passive: #555;
  --color-passive-hover: #999;
  --input-border-color: #434343;
  --input-border-hover-color: var(--blue-color-light);
  --input-border-focus-color: var(--blue-color);
  --input-border-disabled-color: #434343;
}
