:root {
  // general
  --general-border-radius: 4px;

  // colors
  --color-background: #fff;
  --color-border-flashier: #777;
  --color-border: #e6e6e6;
  --color-dark: #06101f;
  --color-full-opacity-10: rgba(0, 0, 0, 0.1);
  --color-full-opacity-85: rgba(0, 0, 0, 0.85);
  --color-full: #000;
  --color-golden: #d5bc00;
  --color-highlight-background: #5696ff12;
  --color-input-border-disabled: #d9d9d9;
  --color-input-border: #d9d9d9;
  --color-list-item-clickable: rgba(0, 0, 0, 0.45);
  --color-mark-background: #ffd1b6ad;
  --color-passive-hover: #333;
  --color-passive: #aaa;
  --color-primary-100: #06101f;
  --color-primary-200: #122450;
  --color-primary-300: #3a76e6;
  --color-primary-500: #1067f1;
  --color-primary-700: #1c70f5;
  --color-primary-900: #3885ff;
  --color-success: #52c41a;
  --color-table-head-background: #fafafa;
  --color-warn: #e84b00;
  --color-error-hover: #ff4d4f;
  --color-error: #cc3d3f;
  --highlight-color-decent: #f0f0f0;
  --highlight-color: #000;
  --primary-light-color: #e3eaff;

  // components
  --activity-highlight-key-update-background-color: #ecf1ff;
  --activity-highlight-key-update-color: var(--color-primary-500);
  --alert-error-background-color: #fff2f0;
  --alert-error-border-color: #ffccc7;
  --alert-error-color: #cc3d3f;
  --alert-info-background-color: #f0f6ff;
  --alert-info-border-color: #bad2ff;
  --alert-info-icon-color: #0d141f;
  --alert-warning-background-color: #ffb75b17;
  --alert-warning-border-color: #996625;
  --alert-warning-color: #fff;
  --avatar-background-color: var(--color-primary-200);
  --avatar-color: #fff;
  --custom-tag-color: #c41d7f;
  --header-background-color: var(--color-dark);
  --header-menu-item-active-background: #111d39;
  --key-table-column-tag-color: #375ef8;
  --sidebar-background-color: #fbfbfc;
}

.dark-theme {
  // colors
  --color-background: var(--color-dark);
  --color-border-flashier: #4e4e4e;
  --color-border: #ffffff1a;
  // --color-dark: ;
  --color-full-opacity-10: rgba(255, 255, 255, 0.1);
  --color-full-opacity-85: rgba(255, 255, 255, 0.85);
  --color-full: #fff;
  --color-golden: #fff900;
  --color-highlight-background: rgba(255, 255, 255, 0.03);;
  --color-input-border-disabled: #434343;
  --color-input-border: #434343;
  --color-list-item-clickable: #7b8ca0;
  --color-mark-background: #ff60238c;
  --color-passive-hover: #999;
  --color-passive: #555;
  --color-primary-100: #06101f;
  --color-primary-200: #122450;
  --color-primary-300: #3a76e6;
  --color-primary-500: #1067f1;
  --color-primary-700: #1c70f5;
  --color-primary-900: #3885ff;
  // --color-success: ;
  --color-table-head-background: #ffffff0d;
  // --color-warn: ;
  // --color-error-hover: ;
  // --color-error: ;
  --highlight-color-decent: #ffffff0f;
  --highlight-color: rgba(255, 255, 255, 0.85);
  --primary-light-color: #111d3a;

  // components
  --activity-highlight-key-update-background-color: #ecf1ff1f;
  --activity-highlight-key-update-color: #ecf1ff;
  --alert-error-background-color: #5107115c;
  --alert-error-border-color: #8b2027;
  --alert-error-color: #ff1e22;
  --alert-info-background-color: #3368ff14;
  --alert-info-border-color: #3368ff6b;
  --alert-info-icon-color: #fff;
  --alert-warning-background-color: #ffb75b17;
  --alert-warning-border-color: #ffb75b;
  --alert-warning-color: #fff;
  // --avatar-background-color: ;
  // --avatar-color: ;
  --custom-tag-color: #e0529c;
  // --header-background-color: ;
  // --header-menu-item-active-background: ;
  --key-table-column-tag-color: var(--color-primary-500);
  --sidebar-background-color: var(--color-background);
}
